<div class="starter-template">
	<h1>Alerts</h1>
	<p class="lead">Here you will find an examples of triggering different types of alerts with a global publish/subscribe pattern</p>
</div>

<div class="jumbotron">
	<h1>Welcome to your AlertsView!</h1>
	<p>We hope you can come to enjoy yourself.</p>
	<p>Go ahead... Try a button</p>
	<button type="button" class="btn btn-success btn-lg">Success</button>
	<button type="button" class="btn btn-warning btn-lg">Warning</button>
	<button type="button" class="btn btn-danger btn-lg">Danger</button>
</div>