<div class='panel panel-default'>
	<div class='panel-heading'>
		A readonly version of the data entered as a separate view
	</div>
	<ul class='list-group'>
		<li class='list-group-item'>
			<label>First Name: </label>
			<span id="fnamedisplay"/>
		</li>
		<li class='list-group-item'>
			<label>Last Name: </label>
			<span id="lnamedisplay"/>
		</li>
		<li class='list-group-item'>
			<label>Email: </label>
			<span id="emaildisplay"/>
		</li>
		<li class='list-group-item'>
			<label>State: </label>
			<span id="statedisplay"/>
		</li>
		<li class='list-group-item'>
			<label>Gender: </label>
			<span id="genderdisplay"/>
		</li>
		<li class='list-group-item'>
			<label>Send Updates: </label>
			<span id="send-updatesdisplay"/>
		</li>
	</ul>
</div>
