
<div class='row'>
	<div class='col-md-12'>
		<div class='form-group'>
			<label class='control-label' for='fname'>First Name</label>
			<input type="text" class='form-control' id="fname" placeholder="on blur" />
			<span class='help-block hidden'></span>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-12'>
		<div class='form-group'>
			<label class='control-label' for='lname'>Last Name</label>
			<input type="text" class='form-control' id="lname" placeholder="on blur" />
			<span class='help-block hidden'></span>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-12'>
		<div class='form-group'>
			<label class='control-label' for='email'>Email</label>
			<input type="email" class='form-control' id="email" placeholder="on key up" />
			<span class='help-block hidden'></span>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-12'>
		<div class='form-group'>
			<label class='control-label' for='state'>State</label>
			<select id="state" class='form-control'>
				<option value=""></option>
				<option value="CT">CT</option>
				<option value="IL">IL</option>
				<option value="MI">MI</option>
				<option value="MN">MN</option>
			</select>
			<span class='help-block hidden'></span>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-12'>
		<div class='form-group'>
			<label class='control-label'>Gender</label>
			<div class='radio'>
				<label>
					<input type="radio" name="gender" value="male"> 
					Male 
				</label>
			</div>
			<div class='radio'>
				<label>
					<input type="radio" name="gender" value="female"> 
					Female
				</label>
			</div>
			<span class='help-block hidden'></span>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-12'>
		<div class='form-group'>
			<div class='checkbox'>
				<label>
					<input type="checkbox" id="send-updates" />
					Send Updates
				</label>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-12'>
		<button id='update-model' class='btn btn-primary'>Update Model</button>
	</div>
</div>
