<div class="starter-template">
	<h1>Framework</h1>
	<p class="lead">This project comes with a nice toolset at your disposal.  Click around, explore the site and code to see the various tools and design patterns </p>
</div>