<div class="row">
	<div class="col-md-12">
		<div class="row">
		  <div class="col-lg-6">
		    <div class="input-group">
		      <input id= "searchInput" type="text" class="form-control" placeholder="Enter route name or number">
		      <span class="input-group-btn">
		        <button id="search" class="btn btn-default" type="button">Search</button>
		      </span>
		      <span class="input-group-btn">
		        <button id ="searchAll" class="btn btn-default" type="button">List All</button>
		      </span>
		    </div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
		<div class="row">	
			<div class="col-md-12">	
				<div>{{=rtnm}} {{=rt}}</div>
			</div>
		</div>
		<div class="row">	
			<div class="col-md-12">	
				What direction do you want to go?
			</div>
	</div>
</div>

