define([
	'text!html/tpl{{#camelize}}{{name}}{{/camelize}}.html',
	'core'
], function (template) {

	return Backbone.View.extend({

		el: '',

		template: _.template(template),

		initialize: function () {
			this.render();
		},

		render: function () {
			this.$el.html(this.template({}));
		},

		events: {}

	});

});
