define([
	'views/{{uncap name}}View',
	'core'
], function ({{capFirst name}}View) {

	return {
			load: function (params) {

				mv.i.views.{{uncap name}}View = new {{capFirst name}}View({
					'el': mv.sections.mainContainer
				});

				mv.i.views.{{uncap name}}View.render();
			}
		};

});
