<div class="starter-template">
	<h1>Stacked Example</h1>
	<p class="lead">Here you can start to see how the Presenter (of the MVP paradigm) is usfull to allow multiple views rendered below</p>
	<hr />
	<div id="region-links" class="stacked"></div>
	<div id="region-alerts" class="stacked"></div>
</div>