#main-container{
	margin-top: 100px;
}

.right {
	float:right;
}

#purge:hover {
	cursor:pointer;
}

.alert {
	margin-bottom: -50px;
	margin-top: 25px;
}

.doge-wow {
    height: 250px;
    width: auto;
}

.stacked{
	padding-top: 50px;
}

.valid {
	color: green;
	border-color: green;
}

.invalid {
	color: red;
}